/* General styling for body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #98e0a2;
    color: #333;
}

/* Center content within the page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #5ebb6b;
    padding: 20px;
}

/* Main page styling */
.points-page {
    background-color: #5ebb6b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    text-align: center;
}

/* Page title */
h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Section heading styling */
h2 {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 20px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
}

table th, table td {
    padding: 12px 20px;
    text-align: left;
}

table th {
    background-color: #79a9df;
    color: white;
    font-size: 1.2rem;
}

table td {
    background-color: #f9f9f9;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Ranking styles */
td:first-child {
    font-weight: bold;
    color: #4CAF50;
}

td:nth-child(2) {
    font-weight: 500;
    color: #555;
}

td:nth-child(3) {
    font-weight: 500;
    color: #333;
}

/* Add some padding and margin to table for clarity */
#pointsTable {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#users-list tr:nth-child(odd) {
    background-color: #f9f9f9;
}

#users-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .points-page {
        width: 95%;
    }

    table th, table td {
        padding: 10px 15px;
    }
}

/* Styling for loading spinner */
.status {
    margin-top: 20px;
}

.status h2 {
    font-size: 1.8rem;
    color: #444;
}

/* Add a footer with some information about the project */
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 40px;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

.home-button {
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: none;
}

.home-button:before {
    content: '\2190'; /* Unicode for left arrow */
    font-size: 24px;
}